/* /Layout/MainLayout.razor.rz.scp.css */
.backgroundDark[b-pk5zeh9n0f]{
    color: white;
    background-color: black;
}

.backgroundPaper[b-pk5zeh9n0f]{
    background-color: #b7ad2e2e;
}


nav[b-pk5zeh9n0f] {
    font-size: 10pt;
}
nav *[b-pk5zeh9n0f]{
    font-size:10pt;
}
/* /Pages/En.razor.rz.scp.css */
{
    font-family: "Cambria Math"
;
    panose-1: 2 4 5 3 5 4 6 3 2 4
;
}
@font-face {
    font-family: Calibri;
    panose-1: 2 15 5 2 2 2 4 3 2 4;
}

/* Style Definitions */
p.MsoNormal[b-c5861e3ke6], li.MsoNormal[b-c5861e3ke6], div.MsoNormal[b-c5861e3ke6] {
    margin-top: 0cm;
    margin-right: 0cm;
    margin-bottom: 8.0pt;
    margin-left: 0cm;
    line-height: 107%;
    font-family: "Calibri", sans-serif;
}

.MsoChpDefault[b-c5861e3ke6] {
    font-family: "Calibri", sans-serif;
}

.MsoPapDefault[b-c5861e3ke6] {
    margin-bottom: 8.0pt;
    line-height: 107%;
}

@page WordSection1 {
    size: 595.3pt 841.9pt;
    margin: 2.0cm 42.5pt 2.0cm 3.0cm;
}

div.WordSection1[b-c5861e3ke6] {
    page: WordSection1;
}
/* /Pages/Ru.razor.rz.scp.css */
{
   font-family: "Cambria Math"
;
   panose-1: 2 4 5 3 5 4 6 3 2 4
;
}
@font-face {
   font-family: Calibri;
   panose-1: 2 15 5 2 2 2 4 3 2 4;
}

/* Style Definitions */
p.MsoNormal[b-sbzr3aiy4c], li.MsoNormal[b-sbzr3aiy4c], div.MsoNormal[b-sbzr3aiy4c] {
   margin-top: 0cm;
   margin-right: 0cm;
   margin-bottom: 8.0pt;
   margin-left: 0cm;
   line-height: 107%;
   font-family: "Calibri", sans-serif;
}

.MsoChpDefault[b-sbzr3aiy4c] {
   font-family: "Calibri", sans-serif;
}

.MsoPapDefault[b-sbzr3aiy4c] {
   margin-bottom: 8.0pt;
   line-height: 107%;
}

@page WordSection1 {
   size: 595.3pt 841.9pt;
   margin: 2.0cm 42.5pt 2.0cm 3.0cm;
}

div.WordSection1[b-sbzr3aiy4c] {
   page: WordSection1;
}

p:has(b)[b-sbzr3aiy4c]{
   text-align: center;
}
