@inherits LayoutComponentBase
@inject HttpClient Http

<nav class="px-2 d-block bg-secondary sticky-top text-white">
    <span>Font Size: @FontSize</span>
    <button @onclick="IncreaseSize" class="btn btn-dark">+</button>
    <button @onclick="DecreaseSize" class="btn btn-dark">-</button>
    <span class="mx-2">Theme:</span>
    <select class="form-select w-auto d-inline text-white bg-secondary" @bind="@Background">
        <option value="">Light</option>
        <option value="backgroundPaper">Paper</option>
        <option value="backgroundDark">Dark</option>
    </select>
</nav>
<div class="@Background" style="font-size: @FontSizeString">
    @Body
</div>

@code
{
    public string FontSizeString { get; set; } = "15pt";
    public string Background { get; set; } = "";
    public int FontSize { get; set; } = 15;
    public void IncreaseSize()
    {
        FontSize++;
        FontSizeString = $"{FontSize}pt";
    }
    public void DecreaseSize()
    {
        FontSize--;
        FontSizeString = $"{FontSize}pt";
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}
